<h1><%=t('messages.listign_adm')%></h1>
 <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%=translate_attribute(@admins, :email)%></th>
      <th><%= link_to "+",new_admins_backoffice_admin_path, class:"btn btn-success btn-circle"%></tr>
  </thead>
  <%for info in @admins%>
    <tbody>
        <tr>
        <th scope="row"><%=info.id%></th>
        <td><%=info.email%></td>
        <td >
        <%= link_to "O",edit_admins_backoffice_admin_path(info), class:"btn btn-success btn-circle"%>
        
        <%= link_to "x","/admins_backoffice/admins/#{info.id}" ,method: :delete, class:"btn btn-danger btn-circle",data:{confirm:  t('messages.sure')}%>
        </td>
        </tr>
    </tbody>
  <%end%>
  
</table>

