<h1><%=t('messages.listign_questions')%></h1>
 <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%=translate_attribute(@questions,:description)%></th>
      <th scope="col"><%=translate_attribute(@questions, :subject)%></th>
      <th><%= link_to "+",new_admins_backoffice_question_path, class:"btn btn-success btn-circle"%></tr>
  </thead>
  <%for info in @questions%>
    <tbody>
        <tr>
        <th scope="row"><%=info.id%></th>
        <td><%=info.description%></td>
        <td><%=info.subject.description%></td>
        <td >
        <%= link_to "O",edit_admins_backoffice_question_path(info), class:"btn btn-success btn-circle"%>
        
        <%= link_to "x","/admins_backoffice/questions/#{info.id}" ,method: :delete, class:"btn btn-danger btn-circle",data:{confirm: t('messages.sure')}%>
        </td>
        </tr>
    </tbody>
  <%end%>
  
</table>

