
<%if @erros != nil%>
    <%for erro in @erros %>
        <div class="alert alert-danger" role="alert">
            <ul>
                <li><%=erro%></li>
            </ul>
        </div>
    <%end%>
<%end%>
<%= form_for :question,url: "/admins_backoffice/questions/#{@question.id}", method: "POST" do |f|%>

    <div class="form-group">
        <%=f.label :description %>
        <%=f.text_area (:description),placeholder: "Tema",class:"form-control" %>
    </div>
    <div class="form-group">
        <%=f.label :subject %>
        <%=f.collection_select(:subject_id,@set_type_question,:id,:description,class:"form-control")%>
    </div>
    
    <div class="actions">
        <%=f.submit nil,class:"btn btn-primary" %>
    </div>

<%end%>

