<h1><%=t('messages.listign_themes')%></h1>
 <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%=translate_attribute(@subs , :description)%></th>
      <th><%= link_to "+",new_admins_backoffice_subject_path, class:"btn btn-success btn-circle"%></tr>
  </thead>
  <%for info in @subs%>
    <tbody>
        <tr>
        <th scope="row"><%=info.id%></th>
        <td><%=info.description%></td>
        <td >
        <%= link_to "O",edit_admins_backoffice_subject_path(info), class:"btn btn-success btn-circle"%>
        
        <%= link_to "x","/admins_backoffice/subjects/#{info.id}" ,method: :delete, class:"btn btn-danger btn-circle",data:{confirm:  t('messages.sure')}%>
        </td>
        </tr>
    </tbody>
  <%end%>
  
</table>

