
<%if @erros != nil%>
    <%for erro in @erros %>
        <div class="alert alert-danger" role="alert">
            <ul>
                <li><%=erro%></li>
            </ul>
        </div>
    <%end%>
<%end%>
<%= form_for :sub,url: "/admins_backoffice/subjects/#{@sub.id}", method: "POST" do |f|%>

    <div class"form-group"">
        <%=f.label :description %>
        <%=f.text_field (:description),placeholder: "Tema",class:"form-control" %>
    </div>
    
    
    <div class="actions">
        <%=f.submit nil,class:"btn btn-primary" %>
    </div>

<%end%>

