<h1>Site::Welcome#index</h1>
<p>Find me in app/views/site/welcome/index.html.erb</p>

<% if user_signed_in?%>
    <p>Logado</p>
    <p><%= current_user.email%></p> <!--Pega quem ta logado e estou pegando o campo email -->
<%else%>
    <p>Não Logado</p>
<%end%>


<% if admin_signed_in?%>
    <p>Adm Logado</p>
<%else%>
    <p>Adm Não Logado</p>
<%end%>
