<!DOCTYPE html>
<html>
<head>
  <title>TimeToAnswer</title>
    <%= stylesheet_link_tag    'application'%>
    <%= javascript_include_tag 'application'%>  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
