<!--Funcionaria se o rails fosse a versão certa-->
<%if @erros != nil%>
<%for erro in @erros %>
    <div class="alert alert-danger" role="alert">
        <ul>
            <li><%=erro%></li>
        </ul>
    </div>
<%end%>
<%end%>
<%= form_for :admin,url: "/admins_backoffice/admins/#{@admin.id}", method: "POST" do |f|%>

<div class"form-group"">
    <%=f.label :email %>
    <%=f.text_field (:email),placeholder: "Email",class:"form-control" %>
</div>
<div class"form-group"">
    <%=f.label :password %>
    <%=f.password_field (:password), placeholder: "Senha",class:"form-control"%>
</div>
<div class"form-group"">
    <%=f.label :password_confirmation %>
    <%=f.password_field (:password_confirmation), placeholder: "Confirmação De Senha",class:"form-control" %>
</div>
<div class="actions">
    <%=f.submit nil,class:"btn btn-primary" %>
</div>
<!--
    <label for="exampleInputEmail1"><strong>Email</strong></label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value='<%=@admin.email%>'>
</div>
<div class="form-group">
    <label for="exampleInputEmail1"><strong>Senha</strong></label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value='<%=@admin.email%>'>
</div>
<div class="form-group">
    <label for="exampleInputEmail1"><strong>Confirmar senha!</strong></label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value='<%=@admin.email%>'>
</div>

<button type="submit" class="btn btn-primary" method="post">Editar</button>-->
<%end%>

